#carousel{
    margin-top: 50px;
}
.col-3 #buttons{
    position: sticky;
    top: 80px;
 
}

@media screen and (orientation:portrait){
    .row{
        display: inline;
    }
   #buttons{
    display: flex;
    flex-wrap: wrap;
    
   }
}